<template>
  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">
        Kevin
        <span class="text-primary">Chu</span>
      </h1>
      <div class="subheading mb-5">
        Portland, OR · 
        <a
          href="mailto:kbychu@gmail.com"
        >kbychu@gmail.com</a>
      </div>
      <p
        class="lead mb-5"
      >
        I am a product manager. Currently, I work at <a href="https://about.gitlab.com" target="_blank" rel="noopener noreferrer">GitLab</a> to make #DevSecOps easier and better. My ninja product skills are making things simple and launching new products.
      </p>
      <p class="lead mb-5">
        This resume is <a href="https://gitlab.com/kbychu/resume/" target="_blank" rel="noopener noreferrer">open source</a> and based on the
        <a
          href="https://github.com/LokeCarlsson/gridsome-starter-resume"
          target="_blank"
          rel="noopener noreferrer"
        >GridSome Starter Resume Template</a>.
      </p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/kbychu/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
          <font-awesome :icon="['fab', 'linkedin']"/>
        </a>
        <a href="https://gitlab.com/kbychu" target="_blank" rel="noopener noreferrer" aria-label="GitLab Profile">
          <font-awesome :icon="['fab', 'gitlab']"/>
        </a>
        <!--
        <a href="https://twitter.com/kbychu" target="_blank" rel="noopener noreferrer" aria-label="Twitter Profile">
          <font-awesome :icon="['fab', 'twitter']"/>
        </a>
        <a href="https://www.facebook.com/kbychu" target="_blank" rel="noopener noreferrer" aria-label="Facebook Profile">
          <font-awesome :icon="['fab', 'facebook']"/>
        </a>
        -->
        <a href="https://blog.kbychu.com" target="_blank" rel="noopener noreferrer" aria-label="Loke.dev">
          <font-awesome :icon="['fas', 'rss']"/>
        </a>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.social-icons a {
  cursor: pointer;
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--secondary);
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;

  @media (max-width: 380px) {
    margin-right: 0.5rem;
  }

  @media (max-width: 350px) {
    margin-right: 0.2rem;
  }
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: var(--primary);
}
</style>
